.favorite {
   display: flex;
   flex-direction: column;

   & a {
      text-align: center;
      text-decoration: none;
      color: blue;
   }

   .title {
      text-align: center;
      margin: 0 0 20px 0;
      font-size: 25px;
   }

   .book-cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 50px 0;

      >a {
         margin: 15px;
         text-decoration: none;
         color: black;
      }
   }

   &ReturnHome {
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      position: fixed;
      height: 50px;
      width: 100%;
      background-color: #e4ddc9;
   }
}