.book {
   display: flex;
   flex: 4 1 0;

   &Categories {
      display: flex;

      margin-bottom: 100px;
      margin-left: 40px;

   }

   &CardEncadrement {
      display: flex;
      flex-direction: column;
      align-items: center;

      & a {
         display: flex;
         align-items: center;
      }
   }

   &Encadrement {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      & a {
         text-decoration: none;
         color: black;
      }

      & button {
         margin-right: 60px;
      }
   }

   &-left {
      display: flex;
      flex: 0.7;

      &Favorites {
         text-decoration: none;
         color: blue;
         font-variant: all-small-caps;
         font-size: 20px;
         margin-left: 30px;
      }

   }

   &-right {
      display: flex;
      flex-direction: column;
      flex: 4;
   }
}