.books {
   display: flex;
   flex-direction: column;

   &-menu {
      display: flex;
      justify-content: space-evenly;
      margin: 34px 0px;

      a {
         text-decoration: none;
         color: blue;
      }
   }

   .book-cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 35px;

      >a {
         margin: 15px;
         text-decoration: none;
         color: black;
      }
   }

   >a {
      margin: 15px;
      text-decoration: none;
      color: blue;
   }
}