.book {
   display: flex;
   flex-direction: column;
   flex: 4 1 0;

   &Categories {
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
   }

   &Encadrement {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 30px;

      & a {
         text-decoration: none;
         color: black;
      }
   }
}